﻿@page "/Category"
@inject HttpClient client
@inject IJSRuntime JSRuntime
@implements IDisposable

<style>
    /* style pour les carrés de couleur */
    .coloredSquare {
        height: 15px;
        width: 15px;
        display: inline-block;
        border-radius: 3px;
        margin-right: 5px
    }
    /* style pour l'option */
    .optionDisplay {
        display: flex;
        align-items: center;
    }
</style>

@if (PoiCats == null)
{
    <Loader></Loader>
}
else
{
    <h1>Ajouter une catégorie</h1>
    <input type="text" @bind="_nameFr" placeholder="Nom en français" />
    <input type="text" @bind="_nameNl" placeholder="Nom en néerlandais" />
    <input type="text" @bind="_nameEn" placeholder="Nom en anglais" />
    <button class="btn btn-primary" @onclick="(() => CategoryAdd())">Enregistrer</button>

    <select class="form-control mySelect" @bind="poiColor">
        <option value="black">Noir</option>
        <option value="blue">Bleu</option>
        <option value="gold">Or</option>
        <option value="green">Vert</option>
        <option value="grey">Gris</option>
        <option value="orange">Orange</option>
        <option value="violet">Violet</option>
        <option value="yellow">Jaune</option>
    </select>

    <h2>Modifier une catégorie</h2>

    <div>
        <select class="form-control" @bind="@_selectedId" @onclick="(() => GetDescription(_selectedId))">
            @foreach (PoiCategory cat in PoiCats)
            {
                <option value="@cat.Id">@cat.Name_fr</option>
            }
        </select>
    </div>

    <input type="text" @bind="_selectedCategory.Name_fr" placeholder="Nom en français" />
    <input type="text" @bind="_selectedCategory.Name_nl" placeholder="Nom en néerlandais" />
    <input type="text" @bind="_selectedCategory.Name_en" placeholder="Nom en anglais" />
    <button class="btn btn-primary" @onclick="(() => CategoryUpdate(_selectedId))">Enregistrer</button>
    <button class="btn btn-primary" @onclick="(() => HardDelete(_selectedId))">Delete</button>
    <button class="@(_selectedCategory.IsDeleted ? "btn btn-success" : "btn btn-danger")" @onclick="(() => SoftDelete())"><i class="@(_selectedCategory.IsDeleted ? "fas fa-history" : "fas fa-trash")"></i></button>

    <select class="form-control mySelect" @bind="_selectedCategory.PinColor">
        <option value="black">Noir</option>
        <option value="blue">Bleu</option>
        <option value="gold">Or</option>
        <option value="green">Vert</option>
        <option value="grey">Gris</option>
        <option value="orange">Orange</option>
        <option value="violet">Violet</option>
        <option value="yellow">Jaune</option>
    </select>
}