﻿@page "/Poi"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime


@if (maListePoi == null)
{
    <Loader></Loader>
}
else
{
    <div>
        <div>
            <select class="form-control" @bind="@_selectedPoiId" @onclick="(() => getDescription(_selectedPoiId) )">
                @foreach (PoiCategory cat in PoiCats)
                {
                    <optgroup label="@cat.Name_fr" value="@cat.Id">
                        @foreach (PointOfInterest Poi in maListePoi.Where(x => x.Category_id == cat.Id))
                        {
                            <option value="@Poi.Id">@Poi.Name_fr</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div>
            <div class="container mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#frDesc">French</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="frDesc" class="container tab-pane active">
                        <input @bind="@selectedPoi.Name_fr" type="text" />
                        <textarea id="txtfr" class="form-control" @bind="@selectedPoi.Description_fr" />
                    </div>
                    <div id="nlDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_nl" />
                        <textarea id="txtnl" class="form-control">@selectedPoi.Description_nl</textarea>
                    </div>
                    <div id="enDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_en" />
                        <textarea id="txten" class="form-control" @bind="@selectedPoi.Description_en" />
                    </div>
                </div>
                <div>
                    <select class="form-control" @bind="@_selectedId">
                        @foreach (PoiCategory cat in PoiCats)
                        {
                            <option value="@cat.Id">@cat.Name_fr</option>
                        }
                    </select>
                    <div>
                        <p>Latitude</p>
                        <input type="number" step="0.001" @bind="selectedPoi.Latitude" />
                        <p>Longitude</p>
                        <input type="number" step="0.001" @bind="selectedPoi.Longitude" />
                        <p>Interval</p>
                        <input type="number" step="0.01" @bind="selectedPoi.Interval" />
                        <p>Start Date</p>
                        <input type="date" @bind="selectedPoi.StartDate" />
                        <p>End Date</p>
                        <input type="date" @bind="selectedPoi.EndDate" />
                    </div>
                    <button class="btn btn-primary" disabled="@isEditionMode" @onclick="(() => UpdatePoi())">Enregistrer</button>
                    <button class="btn btn-primary" disabled="@isEditionMode" @onclick="(() => DeletePoi())">Supprimer</button>
                    <button class="btn btn-primary" @onclick="(() => EditionMode())">@editionModeString</button>
                    <button class="@(selectedPoi.IsDeleted ? "btn btn-success" : "btn btn-danger")" @onclick="(() => SoftDelete())" ><i class="@(selectedPoi.IsDeleted ? "fas fa-history" : "fas fa-trash")"></i></button>
                </div>
            </div>
        </div>
    </div>
}