﻿@page "/PoiAdd"
@inject HttpClient client
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

@if (PoiCats == null)
{
    <Loader></Loader>
}
else
{
    <div>
        <select class="form-control" @bind="@_selectedId">
            @foreach (PoiCategory cat in PoiCats)
            {
                <option value="@cat.Id">@cat.Name_fr</option>
            }
        </select>
    </div>
    <div>
        <div>
            <div class="container mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#frDesc">French</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="frDesc" class="container tab-pane active">
                        <input @bind="@selectedPoi.Name_fr" type="text" />
                        <textarea id="txtfr" class="form-control" @bind="@selectedPoi.Description_fr" />
                    </div>
                    <div id="nlDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_nl" />
                        <textarea id="txtnl" class="form-control">@selectedPoi.Description_nl</textarea>
                    </div>
                    <div id="enDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_en" />
                        <textarea id="txten" class="form-control" @bind="@selectedPoi.Description_en" />
                    </div>
                </div>
                <div>
                    <div>
                        <p>Latitude</p>
                        <input type="number" step="0,001" @bind="selectedPoi.Latitude" />
                        <p>Longitude</p>
                        <input type="number" step="0,001" @bind="selectedPoi.Longitude" />
                        <p>Interval</p>
                        <input type="number" step="0.01" @bind="selectedPoi.Interval" />
                    </div>
                    <button disabled="@isEditionMode" @onclick="(() => SendPoi())">Enregistrer</button>
                    <button @onclick="(() => EditionMode())">@editionModeString</button>
                </div>
            </div>
        </div>
    </div>
}
